body {
  background-image: linear-gradient(#dbdbdb, #fff8b1, #ffbfb1);
}
.header {
  text-align: center;
  font-family: monospace;
  border: 6px solid #dbdbdb;
  padding: 7px;
  margin: 70px;
  background-image: linear-gradient(#ffffff, #dbdbdb);
}
.illustrator {
  color: #ff00f9;
}
.music-producer {
  color: #00d9c1;
}
.main {
  text-align: center;
}
.column {
  font-style: oblique;
  color: white;
  width: 350px;
  float: left;
  border: 2px solid #dbdbdb;
  padding: 7px;
  margin: 30px;
  background-image: linear-gradient(#00d9c1, #003158);
}
.sidebar {
  color: black;
  font-family: monospace;
  font-size: 10px;
  border: 2px solid #dbdbdb;
  padding: 7px;
  margin: 70px;
  width: 27%;
  float: right;
  background-image: linear-gradient(#ffffff, #dbdbdb);
}
