body {
  background-image: linear-gradient(#dbdbdb, #fff8b1, #ffbfb1);
}
.header {
  text-align: center;
  font-family: monospace;
  border: 6px solid #dbdbdb;
  padding: 7px;
  margin: 70px;
  background-image: linear-gradient(#ffffff, #dbdbdb);
}
.illustrator {
  color: #ff00f9;
  font-weight: bold;
}
.music-producer {
  color: #00d9c1;
  font-weight: bold;
}
.main {
  text-align: center;
}
.main p {
    font-weight: bold;
}


.sidebar {
  color: black;
  font-family: monospace;
  font-size: 10px;
  border: 2px solid #dbdbdb;
  padding: 7px;
  margin: 70px;
  width: 27%;
  float: right;
  background-image: linear-gradient(#ffffff, #dbdbdb);
}
